[Unit]
Description=Starts misp workers on boot
After=nginx.service

[Service]
Type=forking
User=misp
Group=misp
WorkingDirectory=/opt/misp-server/misp/app/Console/worker/
ExecStart=/opt/misp-server/misp/app/Console/worker/start.sh

[Install]
WantedBy=multi-user.target
